html {
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: clamp(1rem, 2vw, 3rem);
    background: #7C8658;
    color: #3A4A3D;
    font-family: serif;
    max-width: 80ch;
    font-size: 11pt;
}

section {
    background: #AEB68A;
    padding: 7px;
    border: 1px solid #8F9960;     
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-lines: 2;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-zone: 40px;
    hyphenate-limit-last: column;
}

p + p {
    margin-top: 0.5rem;
}

section + section {
    margin-top: 0.7rem;
}

a {
    color: #3A4A3F;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #4F6A63;
}
