body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #f2f7f8;
    background: #edf3f8;
    font-family: serif;
    max-width: 72ch;
    font-size: 11pt;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-lines: 2;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-zone: 40px;
    hyphenate-limit-last: column;
    margin-bottom: 1ch;
}

a {
    color: #2e5576;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #213d54;
}

main {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

section.footer > img {
    transform: rotateY(180deg);
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    border: 1px solid #abc7de;
    user-select: none;
    -drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

@media (max-width: 800px) {
    main {
        margin: 10px;
    }
}
