html {
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: clamp(1rem, 2vw, 3rem);
    background: #fffef2;
    color: #333;
    direction: ltr;
    font-family: serif;
    max-width: 80ch;
    font-size: 11pt;
}

section {
    padding: 7px;
    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 254, 242, 1);
    border: 1px solid rgb(from currentColor r g b / 0.5);    
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-lines: 2;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-zone: 40px;
    hyphenate-limit-last: column;
}

p + p {
    margin-top: 0.5rem;
}

section + section {
    margin-top: 0.7rem;
}

a {
    color: rgb(from currentColor r g b / 0.65);    
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(from currentColor r g b / 0.35);
}
